body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Темно-зеленый фон */
    color: #ffffff; /* Белый текст */
    margin: 0;
    padding: 0;
}

header {
    background-color: #003300; /* Темно-зеленый заголовок */
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #cccccc;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #006600; /* Зеленый заголовок */
}

.review, .faq-item {
    margin-bottom: 20px;
}
